<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdapptTestGoe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2359F091FE17D44005B80F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2359F1D1FE17D46005B80F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2359F281FE17D47005B80F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
